<br>
<footer class=" text-center text-white " style="border-top-style: solid;border-bottom-style: solid;border-top-width: 0px;border-bottom-width: 0px;padding-bottom: 40px;">
  
  <!-- Grid container -->
  <div class="container p-4 pb-0" style="margin-top: 200px; border-top: 100px;">
    <!-- Section: Social media -->
    <h5>Entre em contato comigo!</h5>
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/diovana.tavares.37/" role="button">
        <i class="bi bi-facebook"></i> 
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/DiovanaTavares" role="button">
        <i class="bi bi-twitter"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:diovanatavaresr@gmail.com" role="button">
        <i class="bi bi-google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/diovana_tavares/" role="button">
        <i class="bi bi-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/diovana-tavares-b33ba520b/" role="button">
        <i class="bi bi-linkedin"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/DiovanaT" role="button">
        <i class="bi bi-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://github.com/DiovanaT/Plataforma_de_perguntas">Diovana Tavares dos Reis</a>
  </div>
  <!-- Copyright -->
</footer>