<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> 
            <i class="bi bi-patch-question" style="font-size: 2rem; color: white; padding-right: 6px; margin-left: 14px;"> 
            </i> 
        </a>

    <div class="navbar-collapse" >
        <ul class="navbar-nav navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item navtop">
            <a class="nav-link active" aria-current="page" href="/" style="padding-right: 20px;">Home</a>
          </li>
          <li class="nav-item navtop">
            <a class="nav-link active" aria-current="page" href="/perguntar">Perguntar</a>
          </li>
        </ul>
    </div>

    </div>
</nav>