<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>
    <p>aaaaaaaaaaaaaaaa</p>

</body>

<%- include ('partials/copyright.ejs'); %>
<%- include ('partials/footer.ejs'); %>