body {
    background-color: #eceff1 ;
}

nav {
    background-color: #DA5C5C !important;
}

#questions {
    margin-top: 14vh;
}

#btn-color {
    background-color: #DA5C5C !important;
    color: white;
}

#color-text {
    color: #263238;
}

#space {
    margin-top: 6rem;
}
.navtop a:hover {
    transition: 400ms;
    margin-top: 5px;
}

footer {
    background-color: #263238 !important;
}